<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block title %}
        <title>Мир книг</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Добавление статического CSS-файла -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block head %}
        <img src="{% static 'images/logotip.jpg' %}"
             style="width:400px; height:400px;" align="absmiddle">
        <font size=7 color="blue">Сайт "Мир книг"</font>
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'catalog:index' %}">Главная страница</a>
                    </li>
                    <li>
                        <a href="{% url 'catalog:book_list' %}">Все книги</a>
                    </li>
                    <li>
                        <a href="{% url 'catalog:author_list' %}">Все авторы</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <h4>Пользователь: {{ user }}</h4>
                    <li>
                        <a class="dropdown-item" href="{% url 'catalog:my_borrowed' user.id %}">Мои заказы</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'user:profile' user.id %}">Профиль</a>
                    </li>
                    {% if user.is_superuser or user.is_staff %}
                        <li>
                            <a class="dropdown-item" href="{% url 'admin:index' %}">
                                Админ-панель
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item" href="{% url 'user:logout' %}">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:login' %}">Войти<i class="fas fa-sign-in-alt"></i></a>
                    </li>
                {% endif %}
            {% endblock %}
        </div>
        <div class="col-sm-10">
            {% block content %}{% endblock %}
            {% block pagination %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        {% if page_obj.number|add:'-3' > 1 %}
                            <li class="pagination__item">
                                <a href="?{{ q }}{{ genre }}{{ year }}page=1">1</a>
                            </li>
                        {% endif %}
                        {% if page_obj.number|add:'-3' >= 3 %}
                            <li class="pagination__item pagination__item--dots">
                                <a href="?
                                        {{ q }}{{ genre }}{{ year }}page={{ page_obj.previous_page_number|add:'-3' }}">
                                    <span class="pagination__link">• • •</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if paginator.page_range|length > 1 %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="pagination__item active">
                                    <a class="pagination__link" href="#">{{ i }}</a>
                                </li>
                            {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                                <li class="pagination__item">
                                    <a class="pagination__link"
                                       href="?{{ q }}{{ genre }}{{ year }}page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if page_obj.has_next %}
                        {% if page_obj.number|add:'4' < page_obj.paginator.num_pages %}
                            <li class="pagination__item pagination__item--dots">
                                <a href="?{{ q }}{{ genre }}{{ year }}page={{ page_obj.next_page_number|add:'3' }}">
                                    <span class="pagination__link">• • •</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
                            <li class="pagination__item">
                                <a class="pagination__link"
                                   href="?{{ q }}{{ genre }}{{ year }}page={{ page_obj.paginator.num_pages }}">
                                    {{ page_obj.paginator.num_pages }}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% endblock %}
        </div>
    </div>
</div>
{% block footer %}
    <footer>
        <p>Copyright ООО "Люди и книги", 2023. Все права защищены</p>
    </footer>
{% endblock %}
</body>
</html>
